button {
    padding: .25em 1.5em;

    font-size: 1.1em;
    line-height: 1.5em;

    background-color: var(--color-secondary-shadow);
    border: 2px solid var(--color-main);
    border-radius: .25rem;

    transition: background-color .2s ease-in-out;
}

button:hover {
    color: var(--color-contrast);

    background-color: var(--color-main);
}

.button--primary {
    color: var(--color-contrast);

    background-color: var(--color-secondary);
    border: 2px solid var(--color-main);
}

.button--primary:hover {
    background-color: var(--color-main);
}

.button--ghost {
    padding: 0.15em 1em;

    border: none;
}
