.posts {
    margin-top: 5rem;
}

.post {
    max-width: 30rem;
    padding: 1rem;

    background-color: var(--color-secondary-shadow);
    border-radius: 0.25rem;
}

.post + .post {
    margin-top: 3rem;
}

.post__header {
    display: flex;

    align-items: flex-start;
}

.post__title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;

    flex: 1;

    font-size: 1.2em;
    line-height: 1.2;
}

.post__info {
    padding-left: 0.25em;

    color: var(--color-main-muted);
    text-align: right;
}

.post__info > * {
    display: block;
}

.post__info > * + * {
    margin-top: 0.75em;
}

.post__notice {
    margin-top: 2rem;
    margin-bottom: 2rem;

    text-align: center;
    font-size: 1.2em;
    font-weight: bold;

    color: var(--color-success);
}

.post__content {
    font-size: 1.1em;
    line-height: 1.4;
}

.post__actions {
    display: flex;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-bottom: -1rem;
    padding: 0.5rem 1rem;

    align-items: stretch;
    justify-content: space-between;

    border-top: 2px solid var(--color-contrast);
}

.post__actions > * + * {
    margin-left: 0.5rem;
}

.post__actions button {
    height: 100%;
}

.post__actions-group {
    display: flex;

    align-items: stretch;
}

.post__actions-group > * + * {
    margin-left: 0.5rem;
}
